Source: rt61
Section: net
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Uploaders: Kel Modderman <kelrin@tpg.com.au>
Build-Depends: cdbs, debhelper (>= 5.0.37), bzip2
Standards-Version: 3.7.2
Vcs-Svn: svn://svn.berlios.de/fullstory/rt61/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/rt61/trunk/

Package: rt61-source
Architecture: all
Depends: module-assistant, debhelper (>= 5.0.37), bzip2
Description: source for the rt61 driver
 This package provides the source code for the rt61 kernel module.
 The rt61 package is also required in order to make use of these
 module. Kernel source or headers are required to compile these modules.
