#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
#include /usr/share/cdbs/1/rules/dpatch.mk

DEB_INSTALL_CHANGELOGS_ALL := CHANGELOG

UUPVERSION = $(shell dpkg-parsechangelog | grep ^Vers | cut -d\  -f2 | sed -e s/-.*// -es/+.*//)
DFSG = $(shell echo $$UUPVERSION | grep \.dfsg\. || echo \.dfsg\.1)
UPVERSION = $(UUPVERSION)$(DFSG)
CVSVERSION = $(shell date -u +%Y%m%d)

install/rt61-source::
	# Enforce executable bit on debian/rules, and create directory 
	# structure for modules source
	install -D -m 0755 debian/rules.modules \
		debian/tmp/modules/rt61/debian/rules
	
	# Prepare the other debian stuff
	for f in *.modules.in control compat copyright changelog; do \
		install -m 0644 debian/$$f debian/tmp/modules/rt61/debian/; \
	done
	
	# Prepare upstream source
	install -m 0644 Module/Makefile Module/*.[ch] \
		debian/tmp/modules/rt61/
		
	# Prepare the debian source tarball
	tar jcf debian/rt61-source/usr/src/rt61.tar.bz2 \
		-C debian/tmp modules

install/rt61-fwcutter::
	install -m 0755	debian/rt61-fwcutter.sh \
			debian/rt61-fwcutter/usr/bin/rt61-fwcutter
	install -m 0755	debian/install_rt61_firmware.sh \
			debian/rt61-fwcutter/usr/share/rt61-fwcutter/

get-orig-source:
	rm $(CURDIR)/* || true
	rm -rf source Module CVS $(DEB_SOURCE_PACKAGE)-*
	
	@echo "press [ENTER] do checkout current CVS Head:"
	cvs -d:pserver:anonymous@rt2400.cvs.sourceforge.net:/cvsroot/rt2400 login
	cvs -z3 -d:pserver:anonymous@rt2400.cvs.sourceforge.net:/cvsroot/rt2400 co -P source/rt61/
	
	find $(CURDIR) -type d -name CVS -exec rm -rf {} \; || true
	find $(CURDIR) -type f -name \*\\.bin -exec rm -rf {} \; || true
	
	mv source/rt61 $(DEB_SOURCE_PACKAGE)-$(UPVERSION)+cvs$(CVSVERSION)
	if ! test -e "../$(DEB_SOURCE_PACKAGE)-$(UPVERSION)+cvs$(CVSVERSION)"; then \
		mv ../`basename $(CURDIR)` ../$(DEB_SOURCE_PACKAGE)-$(UPVERSION)+cvs$(CVSVERSION) ; \
	fi
	cp -r $(DEB_SOURCE_PACKAGE)-$(UPVERSION)+cvs$(CVSVERSION)/* ./
	
	if ! test -e "../$(DEB_SOURCE_PACKAGE)_$(UPVERSION)+cvs$(CVSVERSION).orig.tar.gz"; then \
		tar -czf ../$(DEB_SOURCE_PACKAGE)_$(UPVERSION)+cvs$(CVSVERSION).orig.tar.gz $(DEB_SOURCE_PACKAGE)-$(UPVERSION)+cvs$(CVSVERSION) ; \
	fi
	rm -rf source $(DEB_SOURCE_PACKAGE)-*
	
	dch --no-preserve -v $(UPVERSION)+cvs$(CVSVERSION)-1 "New CVS Snapshot."

