#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
#include /usr/share/cdbs/1/rules/dpatch.mk

DEB_INSTALL_CHANGELOGS_ALL := CHANGELOG

# upstream major version
UPVERSION := $(shell dpkg-parsechangelog | sed -n 's/^Version: \(\w\+\.\w\+\.\w\+\).*/\1/p')
# upstream CVS version
DATE := $(shell date +%Y%m%d)
# dfsg version
DFSG := dfsg.2

install/rt61-source::
	# Enforce executable bit on debian/rules, and create directory 
	# structure for modules source
	install -D -m 0755 debian/rules.modules \
		debian/tmp/modules/rt61/debian/rules
	
	# Prepare the other debian stuff
	for f in *.modules.in control compat copyright changelog; do \
		install -m 0644 debian/$$f debian/tmp/modules/rt61/debian/; \
	done
	
	# Prepare upstream source
	install -m 0644 Module/Makefile Module/*.[ch] \
		debian/tmp/modules/rt61/
		
	# Prepare the debian source tarball
	tar jcf debian/rt61-source/usr/src/rt61.tar.bz2 \
		-C debian/tmp modules

upstream:
	@rm -rf ../rt61-$(DATE) ../rt61_$(UPVERSION).$(DFSG)+cvs$(DATE).orig.tar.gz
	cd .. && cvs -z3 -d:pserver:anonymous@rt2400.cvs.sourceforge.net:/cvsroot/rt2400 \
		export -d rt61-$(DATE) -D $(DATE) source/rt61/
	@test -d ../rt61-$(DATE)
	tar zcf ../rt61_$(UPVERSION).$(DFSG)+cvs$(DATE).orig.tar.gz \
		--exclude='*.bin' --exclude='WPA_Supplicant' -C .. rt61-$(DATE)
	if [ -x /usr/bin/diff ] && [ -x /usr/bin/diffstat ]; then \
		diff	-Nrup \
			--exclude=debian \
			--exclude=*.svn \
			--exclude=*.bin \
			--exclude=WPA_Supplicant \
				$(CURDIR)/ ../rt61-$(DATE)/ | diffstat -p2; \
	fi
	@rm -rf ../rt61-$(DATE)
	@echo "Don't forget to update your upstream with " \
		"../rt61_$(UPVERSION).$(DFSG)+cvs$(DATE).orig.tar.gz"

